{% extends "base.html" %}

{% block content %}
{% for i in range(2) %}
    <br>
{% endfor %}
    <h1>Инструкция по получению токена</h1><br>
    <h6>1) Перейти по ссылке получения токена, предварительно совершив вход в нужный Яндекс Аккаунт в своем браузере</h6>
    <a class="btn btn-link " href="https://oauth.yandex.ru/authorize?response_type=token&client_id=23cabbbdc6cd418abb4b39c32c41195d"
           target="_blank">Ссылка для получения токена</a><br><br>
    <h6>2) Если вы ранее никогда не получали токен для Яндекс Музыки, то откроется сайт с подтверждением определенных действий с вашим аккаунтом</h6><br>
    <h6>3) Для удобства получения нужной ссылки откройте панель разработчика (f12)</h6><br>
    <h6>4) Далее перейдите во вкладку "Network" и поменяйте значение в выпадающем окне с "No throttling" на "Slow 3G"</h6> 
    <img src="static/dev_tools.png"><br><br>
    <h6>5) На ранее открытой форме подтверждения Яндекс нажмите на кнопку "Разрешить", после этого вас перенаправит на сайт Яндекс Музыки</h6><br>
    <h6>6) Во время перенаправления вам нужно успеть скопировать ссылку такого характера, как на изображении ниже:</h6>
    <img src="static/token.png"><br><br>
    <h6>7) Значение именованного аргумента access_token и есть ваш токен Яндекс Музыки, скопируйте его и вставьте в форме регистрации токена плейера</h6>
    <a class="btn btn-link" href="/yandex_music">Перейти к регистрации токена</a><br>
    <h6>8) Если вы не успели скопировать нужную ссылку, и вас уже перенаправило на саму Яндекс Музыку, просто перейдите по ссылке для получения токена еще раз</h6>
{% endblock %}